
.container
    .footer--content
        img(src="assets/images/logo-hero--banner.svg" alt="logo-hero--banner" width="696" height="300" class="fclp__footer--logo")
        form.fclp_form
            h2 Stay Informed
            .form-group
                input.form-control(type='email' placeholder='Email Address')
                button.contact-signup.btn(name='submit' type='submit' data-submit='...Sending') SIGN UP
    img(src="assets/images/leafe-right--mission.svg" alt="logo-hero--banner" width="618" height="412" class="fclp__footer-top--leafe")
    img(src="assets/images/leafe.svg" alt="logo-hero--banner" width="1655" height="1103" class="fclp__footer--leafe")

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js')
script(src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js')
script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
script(src='assets/js/custom.js')