.header__main
    .container
        .row.align-center.justify-between
            .col-4
                .header__logo
                    a(href='index.html')
                        img(class="in-svg" src='assets/images/logo.svg' alt='logo' width='616' height='70')
            .col-8   
                .header__menu
                    ul.d-flex.align-center.justify-end.mb-0
                        li
                            a(href='#') HOME
                        li
                            a(href='#about') ABOUT 
                        li
                            a(href='#mission') OUR MISSION
                        li
                            a(href='#actionareas') ACTION AREAS
                        li
                            a(href='#summit') THE SUMMIT
                        li
                            a(href='#stayinformed') STAY INFORMED
                .toggle__menu
                    span
                    span
                    span
