extends _layout.pug
block csslinks
    link(rel='stylesheet', href='assets/css/home.css')

block content
    section.fclp__hero--banner.parallax__section(style='background-image: url(./assets/images/hero-banner.jpg);')
        .container
            .hero__banner--content
                img(src="assets/images/logo-hero--banner.svg" alt="logo-hero--banner" width="696" height="300" class="fclp__banner--logo")(data-aos='fade-up')
                a(href="#next" class="btn-book-appointment")
                    img(src="assets/images/arrow-white.svg" alt="scroll" width="95" height="95" class="scroll")
            img(src="assets/images/leafe.svg" alt="logo-hero--banner" width="836" height="557" class="fclp__banner--leafe")
    section.fclp__artical--sec#next
        .row
            .col-6.fclp__background--sec(style='background-image: url(./assets/images/artical.jpg);')

            .col-6
                .fclp__content--sec
                    .fclp__content--sec-inner
                        p(data-aos='fade-up') At COP26, 
                            a(href="https://ukcop26.org/glasgow-leaders-declaration-on-forests-and-land-use/" target="_blank") over 140 world leaders committed 
                            | to "halt and reverse forest loss and land degradation by 2030, whilst delivering sustainable development and promoting an inclusive rural transformation."
                        p(data-aos='fade-up') Delivering on this headline objective will require a major shift in the way we manage, use and value natural carbon-rich ecosystems, so that sustaining forests is a positive development choice for governments, private sector and indigenous peoples and local communities.
                        p(data-aos='fade-up') Achieving this systemic change will require high-level political leadership, nationally and internationally, to mobilise the scale of policies, partnerships and resources needed. It requires new collaborations, integration of objectives across organisations, the development of solutions to common challenges and accountability to deliver.
                        p(data-aos='fade-up') The 
                            b Forest and Climate Leaders' Partnership (FCLP) 
                            | will work with existing initiatives and organisations to deliver ambition in six specific areas which underpin the commitments set out at COP26, and meet annually to ensure we are on track.
                        p(data-aos='fade-up')
                            b COP26 Glasgow Leaders Declaration on Forests and Land Use
                            span.read-btn
                                a(href="https://ukcop26.org/glasgow-leaders-declaration-on-forests-and-land-use/" class="btn" target="_blank")(data-aos='fade-up') Read Full Article
                            
                    img(src="assets/images/leafe.svg" alt="logo-hero--banner" width="866" height="578" class="fclp__articale--leafe")
    section.fclp__slider--sec
            // Slider main container
            .swiper-container.fclp__slider-container
                // Additional required wrapper
                .swiper-wrapper
                    // Slides
                    .swiper-slide
                        .fclp__slide-image.overlay
                            img(src="assets/images/slider-4.jpg" alt="slider-1" width="637" height="956")
                            .fclp__projects-heading
                                .fclp__heading
                                    h3.text-white The forest and land use sector accounts for nearly a quarter of global emissions
                                        sup (1) 
                                        | , we cannot come close to meeting objectives of the Paris Agreement without serious action in this sector.
                                    a.more-btn(href='javascript: void(0);')
                                        | (IPCC) https://www.ipcc.ch/2019/08/08/land-is-a-critical-resource_srccl/
                    .swiper-slide
                        .fclp__slide-image.overlay
                            img(src="assets/images/slider-5.jpg" alt="slider-1" width="637" height="956")
                            .fclp__projects-heading
                                .fclp__heading
                                    h3.text-white Meeting the 2030 objective of halting and reversing forest loss and land degradation would account for 10% of the climate mitigation action needed to limit warming to 1.5 degrees.
                                        sup (2)
                                    a.more-btn(href='javascript: void(0);')
                                        | Estimate from the Energy Transitions Commission (https://www.energy-transitions.org/cop26-assessing-week-one/). Climate Action Tracker estimated 1.1 to 3.0 Gt CO2/year by 2030 (https://climateactiontracker.org/documents/1002/CAT_2021-11-11_Briefing_GlasgowSectorInitiatives.pdf), while WRI have estimated 3.8 Gt CO2/year by 2030 from avoided emissions plus an additional 3 Gt CO2/year from forest restoration (see https://www.wri.org/insights/what-cop26-means-forests-climate).
                    .swiper-slide
                        .fclp__slide-image.overlay
                            img(src="assets/images/slider-1.jpg" alt="slider-1" width="637" height="956")
                            .fclp__projects-heading
                                .fclp__heading
                                    h3.text-white The global transition to a sustainable land use and food system could generate new business opportunities worth  
                                        br 
                                        | 4.5 trillion USD per year by 2030.
                                        sup (3)
                                    a.more-btn(href='javascript: void(0);')
                                        | [FOLU Global Report]
                    .swiper-slide
                        .fclp__slide-image.overlay
                            img(src="assets/images/slider-3.jpg" alt="slider-1" width="637" height="956")
                            .fclp__projects-heading
                                .fclp__heading
                                    h3.text-white Forests are home to more than 80% of all terrestrial species of animals, plants and insects
                                    a.more-btn(href='javascript: void(0);')
                                        | The global assessment report on biodiversity and ecosystem services, Ipbes, 2019.
                    
                    .swiper-slide
                        .fclp__slide-image.overlay
                            img(src="assets/images/slider-2.jpg" alt="slider-1" width="637" height="956")
                            .fclp__projects-heading
                                .fclp__heading
                                    h3.text-white Currently, land degradation has reduced productivity in 23% of the global terrestrial area, and between $235 billion and $577 billion in annual global crop output is at risk because of pollinator loss.
                                    sup (4)
                                    a.more-btn(href='javascript: void(0);')
                                        | [The global assessment report on biodiversity and ecosystem services, Ipbes, 2019]
                    
                    
                // If we need navigation buttons
            .swiper-button-prev.slider-prev
            .swiper-button-next.slider-next
    section.fclp__bgimage--sec.parallax__section(style='background-image: url(./assets/images/bgimage.jpg);')
    section.fclp__about--sec#about
        .container
            .fclp__about--topcontent 
                h2(data-aos='fade-up') About
                p(data-aos='fade-up') Forests & Climate Leaders' Partnership (FCLP) is a focussed effort of governments with partners committed to expanding and maintaining high-level political leadership on forests, land-use and climate, to work together to implement solutions that reduce forest loss, increase restoration and support sustainable development, and to ensure accountability for the pledges that have been made.
                p(data-aos='fade-up') The FCLP focuses on strategically targeted voluntary initiatives where combined political attention and complementary approaches from multiple countries, partners and other alliances will make the greatest difference globally at delivering the systemic shifts required.
        .fclp__about--bottomcontent
            .container 
                .row
                    .col-8
                        .left__sec--video 
                            iframe(width="828" height="674" autoplay controls src="https://www.youtube.com/embed/Wrb4b28dgcU")
                            //- video( autoplay controls width="828" height="674" )
                            //-     source(src='"https://www.youtube.com/embed/Wrb4b28dgcU"' type='video/mp4') 
                    .col-4
                        .right__sec--content
                            h3 Specific features of the FCLP include:
                            .list__block 
                                ul
                                    li(data-aos='fade-up') 
                                        p A 
                                            b unifying goal
                                            |: to work together to accelerate global progress to halt and reverse forest loss and land degradation by 2030, whilst delivering sustainable development and promoting an inclusive rural transformation. This reflects the Sustainable Development Goals (SDG 15), the UN Strategic Plan on Forests and other relevant initiatives.

                                    li(data-aos='fade-up')
                                        p 
                                            b A high ambition group 
                                            | of participating countries signed up to this goal, representative of a range of regions, major forest areas, and centres of commerce and finance. The Partnership is open to working with additional countries, but it pursues all avenues to keep the work of the FCLP as ambitious and focussed as possible, complementing existing multilateral and bilateral processes.
                                    li(data-aos='fade-up') 
                                        p Underpinned by  
                                            b six voluntary action areas  
                                            | to which governments with partners channel their combined senior engagement and support . These focus on policy-alignment benefits for international systems and giving critical mass to transformational existing and new/scalable voluntary initiatives that will have significant impact in a range of countries, with a view to achieving accelerated outcomes.

                                    li(data-aos='fade-up') 
                                        p An 
                                            b annual event 
                                            | that provides a high-profile public platform for Leaders, Ministers and key nonstate actors to showcase progress and action. This will be the pre-eminent moment on forests and climate in the annual calendar.  It will shine a bright spotlight on progress and serve as a forcing point for policy decisions and announcements every year in this critical decade.  In 2026 this will be a Heads of State level event, reflecting the whole-of-government effort under the FCLP.
                                    li(data-aos='fade-up') 
                                        p Framed by a 
                                            b global progress report
                                            |  to inform the prioritisation of work under the FCLP’s action areas and the agenda of the annual event, highlighting key progress made, and opportunities for collective efforts to step up. In 2026 a special report will be prepared for Heads of State of participating countries highlighting progress since Glasgow.

                                    li(data-aos='fade-up') 
                                        p Supported by a dedicated 
                                            b secretariat
                                            |  for the effective functioning of the FCLP, which oversees an efficient system of governance through which countries can shape the work of the Partnership.
        img(src="assets/images/leafe-2.svg" alt="logo-hero--banner" width="731" height="660" class="fclp__about-top--leafe")
        img(src="assets/images/leafe-bottom.svg" alt="logo-hero--banner" width="1187" height="792" class="fclp__about-bottom--leafe")
    section.fclp__objectives--sec#mission
        .container
            .row
                .col-4
                    .fclp--mission--sec
                        h2(data-aos='fade-up') Mission Statement
                        h3(data-aos='fade-up') The FCLP aims to accelerate global progress to halt and reverse forest loss and land degradation by 2030 while delivering sustainable development and promoting an inclusive rural transformation, through a voluntary and focussed partnership of countries that are making a strong contribution to this agenda through national action and international collaboration.
                .col-8
                    .fclp--objectives--sec
                        h2(data-aos='fade-up') Objectives
                        p(data-aos='fade-up') To achieve its Mission Statement the FCLP, through the leadership of Heads of State and Ministers, providing its combined political support to Action Areas, and working closely with the private sector, civil society, Indigenous Peoples' and local community organisations and other key international and non-state actors, it is expected to:
                        ul 
                            li(data-aos='fade-up') 
                                p  provide a solutions-focussed political forum to highlight implementation progress and identify shared strategic challenges and opportunities for collaboration;
                            li(data-aos='fade-up') 
                                p leverage Head of State and Ministerial leadership to amplify attention to specific challenges and solutions;
                            li(data-aos='fade-up') 
                                p provide its combined political support to accelerate and scale implementation of a prioritised number of Action Areas, strongly aligned with the Mission Statement and Objectives of the Partnership; and
                            li(data-aos='fade-up') 
                                p support implementation of the participating countries’ self-determined national goals and encourage all countries to be even more ambitious over time.
        img(src="assets/images/leafe-left--mission.svg" alt="logo-hero--banner" width="543" height="362" class="fclp__objective-top--leafe")
        img(src="assets/images/leafe-right--mission.svg" alt="logo-hero--banner" width="1221" height="880" class="fclp__objective-bottom--leafe")
    
    section.fclp__bgimage-bottom--sec.parallax__section(style='background-image: url(./assets/images/bgimage-bottom.jpg);')
        img(src="assets/images/leafe-bg.svg" alt="leafe-bg" width="939" height="627" class="fclp__bgimage--leafe")
    
    section.fclp__actionarea--sec#actionareas
        .container
            .fclp__actionarea__content--block
                h2(data-aos='fade-up') Action areas
                h4(data-aos='fade-up') The Forest and Climate Leaders' Partnership (FCLP) will work with existing initiatives and organisations to deliver ambition in six specific areas which underpin the commitments set out at COP26.
                h4(data-aos='fade-up') We have started making the necessary changes but they all must be accelerated.
                h4(data-aos='fade-up') Everyone has a role, what is yours?
        .fclp__actionarea__tab--block
            .container
                .fclp__tab-menu
                    ul.d-flex.tabs-block
                        .fclp__shape
                            img(src="./assets/images/tab-shape.svg", alt="")
                        li.fclp__tab-a.active-a.active(data-menu='1')
                            a(href='javascript: void(0);' data-aos='fade-up')
                                img(src="assets/images/supply-chain.svg" alt="supply-chain" width="" height="" class="tree-shape")
                        li.fclp__tab-a(data-menu='2')
                            a(href='javascript: void(0);' data-aos='fade-up')
                                img(src="assets/images/increase-finance.svg" alt="increase-finance" width="" height="" class="tree-shape")
                        li.fclp__tab-a(data-menu='3')
                            a(href='javascript: void(0);' data-aos='fade-up')
                                img(src="assets/images/make-financial.svg" alt="make-financial" width="" height="" class="tree-shape")
                        li.fclp__tab-a(data-menu='4')
                            a(href='javascript: void(0);' data-aos='fade-up')
                                img(src="assets/images/empower.svg" alt="empower" width="" height="" class="tree-shape")
                        li.fclp__tab-a(data-menu='5')
                            a(href='javascript: void(0);' data-aos='fade-up')
                                img(src="assets/images/value.svg" alt="value" width="" height="" class="tree-shape")
                        li.fclp__tab-a(data-menu='6')
                            a(href='javascript: void(0);' data-aos='fade-up')
                                img(src="assets/images/protect.svg" alt="protect" width="" height="" class="tree-shape")
                    .fclp__article-block
                        .fclp__article.num_1.show
                            h3 Action area 1 - green supply chains
                            h5 International collaboration on the 
                                b sustainable land use economy and supply chains.
                            h5
                                b “We can ensure commodities are grown and traded sustainably, and communities reap the benefit of a sustainable food and land use economy” 
                            p Our global food and land use system is a leading driver of environmental damage.  It contributes approximately 30 percent of the greenhouse gas emissions driving climate change, and it is the leading cause of the continuing conversion of the world’s tropical forests, grasslands, wetlands and other remaining natural habitats. Decoupling economic development from deforestation and forest degradation is complex and requires international collaboration by public and private sector actors to invest in and scale more productive, regenerative techniques for food production and new approaches to protecting forests and other critical ecosystems.  A number of governments for example are already engaging on solutions through the 
                                a(href="https://www.factdialogue.org/" target="_blank") FACT Dialogue
                                |, which aims to promote the sustainable development and trade of agricultural commodities while protecting forests and other critical ecosystems. Key private sector groups such as the 
                                a(href="https://ukcop26.org/agricultural-commodity-companies-corporate-statement-of-purpose/" target="_blank") agricultural commodity traders 
                                | and 
                                a(href="https://www.theconsumergoodsforum.com/environmental-sustainability/forest-positive/" target="_blank") consumer goods companies  
                                |  are also collaborating to drive the transition towards deforestation and conversion free agricultural commodities.	
                        .fclp__article.num_2
                            h3 Action area 2 - Increase finance flows to forests
                            h5 Mobilising 
                                b public and donor finance
                                | to support implementation.
                            h5 
                                b “[we can] guarantee that pledged money flows to people and the forests they rely on.”
                            p Public and other donor finance continues to play a critical role in helping lower income countries to reduce deforestation, increase forest landscape restoration, and ensure ecosystem resilience. While there has been an increasing trend in donor pledges, collectively, it has not met the scale of the demand, nor the full range of needs. There is also call for greater coordination of donor financing to better leverage other sources of finance, and  a need for enhanced transparency in tracking donor finance commitments. The 
                                a(href="https://ukcop26.org/the-global-forest-finance-pledge/" target="_blank") Global Forest Finance Pledge 
                                | and the 
                                a(href="https://ukcop26.org/cop26-congo-basin-joint-donor-statement/" target="_blank") COP26 Congo Basin Joint Donor Statements 
                                | are among two initiatives seeking to mobilise finance for the protection, restoration, and sustainable management of forests.
                        .fclp__article.num_3
                            h3 Action area 3 - Make financial systems work for forests
                            h5 Shifting the 
                                b private finance system.
                            h5 
                                b “[we can] end investments that fund the destruction of forests, and instead support solutions that enhance nature.”
                            p Financial and economic incentives are stacked against keeping forest standing by a factor of about 40:1. The recognition of climate-related financial risks in the forest and land use sector, as well as the value in investing in nature-based climate solutions has only very recently started to permeate the mainstream of the finance sector (e.g. 
                                a(href="https://www.gfanzero.com/press/statement-on-deforestation-financing-from-the-co-chairs-and-vice-chair-of-gfanz/" target="_blank") GFANZ
                                |, 
                                a(href="https://www.state.gov/forest-investor-club-establishment-at-cop26/" target="_blank") Forest Investor Club
                                |, 
                                a(href="https://racetozero.unfccc.int/system/nature-and-tackling-deforestation/" target="_blank") Commitment on Eliminating Agricultural Commodity-Driven Deforestation
                                |, 
                                a(href="https://www.tropicalforestalliance.org/en/collective-action-agenda/finance/ifacc/" target="_blank") IFACC
                                | ), including financial regulators (e.g. 
                                a(href="https://www.ngfs.net/en" target="_blank") NGFS
                                | , 
                                a(href="https://www.financeministersforclimate.org/" target="_blank") Coalition of Finance Ministers
                                | ). The goal of halting and reversing forest loss and land degradation while delivering sustainable development and promoting an inclusive rural transformation cannot be achieved without reducing the incentives to do harm, aligning financial portfolios in line with the Glasgow Leaders’ Declaration or increasing financial flows to build forest positive economies.
                        .fclp__article.num_4
                            h3 Action area 4 - power forest guardians
                            h5 Supporting
                                b  Indigenous Peoples’ and local communities’ 
                                | initiatives.
                            h5 
                                b “We can support indigenous peoples who have lived in harmony with the natural world for millennia, to continue their essential role as forest guardians.” 
                            p Indigenous Peoples and local communities (IP and LC) play a critical role in protecting tropical forests and preserving vital ecosystem services. With territories covering over 50% of the Earth’s terrestrial surface, Indigenous People contribute to global climate change mitigation, biodiversity preservation, and inclusive and sustainable development. But their ability to sustain this stewardship and contribute to national and global forest, biodiversity, climate and other sustainable development goals is threatened and/or limited when tenure rights are not recognized, secured and protected. The ability of IP and LC to secure such rights and contribute to reducing deforestation and improve ecosystem integrity are further limited by insufficient access to finance. The FCLP will work with platforms such as 
                                a(href="https://globalalliance.me/" target="_blank") GATC 
                                | which represent people living in forest territories across the globe and advocate for their interests including for land rights, and access to finance is one of the issues being addressed through the 
                                a(href="https://ukcop26.org/cop26-iplc-forest-tenure-joint-donor-statement/" target="_blank") COP26 IPLC Forest Tenure Joint Donor Statement.
                        .fclp__article.num_5
                            h3 Action area 5 - Increase the value of standing forests
                            h5 Strengthening and scaling 
                                b  carbon markets for forests.
                            h5 
                                b “[we can] scale and strengthen carbon markets to support forest countries in achieving their climate and sustainable development goals.”
                            p Many of the tropical forest countries that have made important progress over the past decade or more on REDD+ are assessing how to strategically engage in voluntary and compliance carbon markets as a source of finance to reach their forest, climate and sustainable development goals. However, there are several challenges and barriers to the strengthening and scaling of such markets. For example, while demand for forest carbon credits increases, growth is constrained as tropical forest countries face capacity and technical barriers to participating in markets.  There are also ongoing discussions and a lack of consensus on the role of different types of credits and there are divergent views on how to ensure that such markets are high integrity and delivering in line with the goals of the Paris Agreement. For the voluntary carbon market, several initiatives have launched in recent years that seek to clarify issues related to supply and demand side integrity with several institutions releasing guidance documents to this end (e.g., 
                                a(href="https://icvcm.org/" target="_blank") IC-VCM
                                |, 
                                a(href="https://vcmintegrity.org/" target="_blank") VCMI
                                |, 
                                a(href="https://www.wbcsd.org/Programs/Climate-and-Energy/Climate/Natural-Climate-Solutions/The-Natural-Climate-Solutions-Alliance" target="_blank") NCS Alliance
                                |, and 
                                a(href="https://tfciguide.org/" target="_blank") TFCI
                                | ).  Other initiatives such as the LEAF Coalition supports jurisdictional programmes to help tropical countries move more rapidly towards ending deforestation.
                        .fclp__article.num_6
                            h3 Action area 6 - Protect our oldest and longest standing forests
                            h5 Building international partnerships and incentives to preserve 
                                b  high-integrity forests.
                            h5 
                                b “and we can develop partnerships to protect high integrity forests”
                            p Forests largely free of significant modification – known as high integrity forests – make up about 40% of remaining forests. It is well acknowledged that these forests perform essential services: carbon sequestration, climate regulation, biodiversity preservation and support to livelihoods. Current mechanisms for financing the preservation of the planet’s remaining high-integrity forests are proving insufficient and/or unsustainable for many lower income countries. New forms of incentives that can mobilize public and private sector finance are needed at the scale to ensure the essential services provided by high-integrity forests are preserved and increased.
        img(src="assets/images/leafe-right--mission.svg" alt="logo-hero--banner" width="1028" height="686" class="fclp__action-areas--leafe")
    section.fclp__summit--sec#summit
        .row
            .col-6
                .fclp__content--sec
                    .fclp__content--sec-inner
                        h2(data-aos='fade-up') The Summit
                        p(data-aos='fade-up') The inaugural 
                            b Forests and Climate Leaders’ Summit 
                            | is 
                            b  Monday 7 November
                            |  during the COP27 World Leaders Summit.
                        p(data-aos='fade-up') At this COP27 event leaders publicly set out their vision for the Partnership and how it will contribute to meeting the 2030 goal to halt and reverse forest loss and land degradation, whilst delivering sustainable development and promoting an inclusive rural transformation.
                        p(data-aos='fade-up') The first meeting of the will be a closed door government meeting on Saturday 12th November also at COP27.
                        p(data-aos='fade-up') Key publications from initiatives across the six FCLP action areas to be featured at this event include:
                        ul
                            li(data-aos='fade-up') 1
                            li(data-aos='fade-up') FACT Progress Report
                            li(data-aos='fade-up') Traders Roadmap
                            li(data-aos='fade-up') Possible Donor Statement on Restoration
                        ul
                            li(data-aos='fade-up') 2
                            li(data-aos='fade-up') FGFFP Pledge (+report)
                            li(data-aos='fade-up') Congo Basin Pledge (+report)
                        ul
                            li(data-aos='fade-up') 3
                            li(data-aos='fade-up') GFANZ Statement from NYCW
                            li(data-aos='fade-up') IFACC
                            li(data-aos='fade-up') Forest Investor Club
                            li(data-aos='fade-up') Commitment on Eliminating Agricultural Commodity-Driven Deforestation
                        ul
                            li(data-aos='fade-up') 4
                            li(data-aos='fade-up') IPLC Pledge
                    img(src="assets/images/leafe-summit-left.svg" alt="leafe-summit-left" width="578" height="386" class="fclp__summit-left--leafe")   
            .col-6.fclp__background--sec(style='background-image: url(./assets/images/summit-bg.jpg);')
                img(src="assets/images/leafe-bg.svg" alt="leafe-summit" width="998" height="1080" class="fclp__summit-right--leafe")